<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Bagged Milk</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/milk.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" type="img/ico" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <!-- Site wide nav -->
  <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bagged Milk</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/milkbot"><strong>milk-bot</strong></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">eve-tools <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/timerboard">timerboard</a></li>
                <li><a href="/pastecomparison">paste comparison</a></li>
              </ul>
            </li>
            <li><a href="/wwdli"><strong>WWDLI?</strong></a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    {% block js-foot %}
    {% endblock %}
    <!-- Footer -->
    <footer class="footer">
    <hr>
      <div class="container text-center">
        <p class="text-muted">Copyright &copy; {% now "Y" %} Baggedmilk.me<br>
        <a href="mailto:codypollardeve@gmail.com">codypollardeve@gmail.com</a></p>
      </div>
    </footer>
  </body>
</html>