<head>
	<title>GP Digital</title>
</head>
{% extends 'milk/base.html' %}
{% block content %}
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <h1>GP Digital</h1>
		  <hr>
		  <p>Current finished or near finished projects include a discord bot that manages my discord server, two basic
		  EVE Online tools for timer tracking and paste comparisons, and an injury tracking tool to measure how injured
		  the Anaheim Ducks currently are. Some receive sporadic updates from time to time but are mostly considered
		  finished.</p>
	  </div>

	  <div class="col-md-4">
	  	<h2>Contact</h2>
            <address>
                <strong>GP Digital</strong><br>
                <a href="mailto:admin@gpdigital.dev">Email</a><br>
                <a href="https://github.com/CodyPollard">GitHub</a><br>
            </address>
	  </div>
	</div>
</div>
{% endblock %}