{% extends 'milk/base.html' %}

{% block content %}
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <h1>Bagged Milk</h1>
		  <hr>
		  <p>Welcome to my own personal testing ground. My goal is to add any in-progress or finished projects as they pop up. I also wrote a couple articles for <a href="https://imperium.news/author/codypollard/">Imperium News</a> about EVE Online but that's probably not that interesting.</p>
	  </div>

	  <div class="col-md-4">
	  	<h2>Contact</h2>
            <address>
                <strong>Bagged Milk</strong><br>
                <a href="mailto:codypollardeve@gmail.com">Email</a><br>
                <a href="https://github.com/CodyPollard">GitHub</a><br>
            </address>
	  </div>
	</div>
</div>
{% endblock %}