<head>
	<title>Paste Comparison Tool</title>
</head>
{% extends 'milk/base.html' %}
{% block content %}
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <h1>paste comparison</h1>
          <hr>
          <p>The paste comparison tool should be used for comparing two seperate local scans.
          Results will show a list of names that appeared in both scans and will ignore those that
          only showed in one of the two scans.</p>
          <form method="POST" class="form-group">
              {% csrf_token %}
              {{ form.as_p }}
              {{ form.errors }}
              <br>
              <input type="submit">
          </form>
	  </div>
	  <div class="col-md-4">
	  	<h2>Contact</h2>
            <address>
                <strong>Bagged Milk</strong><br>
                <a href="mailto:codypollardeve@gmail.com">Email</a><br>
                <a href="https://github.com/CodyPollard">GitHub</a><br>
            </address>
	  </div>
	</div>
</div>
{% endblock %}