{% extends 'milk/base.html' %}

{% block content %}
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <h1>paste comparison</h1>
          <hr>
          <p>Under Construction</p>
	  </div>

	  <div class="col-md-4">
	  	<h2>Contact</h2>
            <address>
                <strong>Bagged Milk</strong><br>
                <a href="mailto:codypollardeve@gmail.com">Email</a><br>
                <a href="https://github.com/CodyPollard">GitHub</a><br>
				<a href="https://discord.gg/sgs2neA">Join our Discord</a><br>
            </address>
	  </div>
	</div>
</div>
{% endblock %}