<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_KEY}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{GA_KEY}}');
    </script>
	<title>Success - Injury Report Received</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/milk.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" type="img/ico" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <!-- Site wide nav -->
  <nav class="navbar navbar-inverse navbar-static-top"  id="wwdli-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bagged Milk</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/wwdli"><strong>WWDLI?</strong></a></li>
          </ul>
        </div>
      </div>
    </nav>
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <div class="timer">
			  <h1 class="wwdli">When Were the Anaheim Ducks Last Injured?</h1>
			  <hr>
			  <p><strong>Time since last injury</strong></p>
			  <p class="timer-clock">...</p>
			  <p><a href="{{ latest_injury.news_link }}"><strong>{{ latest_injury.headline }}</strong></a></p>
			  <p><strong>Updates</strong></p>
			  <p>{{ latest_injury.news_updates|safe }}</p>
			  <hr>
		  </div>
		  <div>
			  <p>Thank you for your submission I will get to it as soon as I can.</p>
		  </div>
	  </div>
	  <div class="col-md-4">
	  	<h1 class="wwdli">Injury History</h1>
		  <hr>
            {% for injury in injury_list %}
		  	<p>{{ injury.last_injury.date }}: <a href="{{ injury.news_link }}">{{ injury.headline }}</a></p>
		  	{% endfor %}
	  </div>
	</div>
</div>
	<script>
		var selected_date = new Date("{{ latest_injury.last_injury.isoformat }}")
	</script>
	<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
	<script>window.onload=timerTest;</script>
  <!-- Footer -->
    <footer class="footer">
    <hr>
      <div class="container text-center">
        <p class="text-muted">Copyright &copy; {% now "Y" %} Baggedmilk.me<br>
        <a href="mailto:codypollardeve@gmail.com">codypollardeve@gmail.com</a></p>
      </div>
    </footer>
  </body>
</html>