{% extends 'milk/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Top Section -->
<div class="container">
	<div class="row">
	  <div class="col-md-8">
		  <h1>When were the Ducks last injured?</h1>
          <hr>
          <p><strong>Time since last injury</strong></p>
		  <p class="Timer">...</p>
		  <p><a href="{{ injury_obj.news_link }}"><strong>{{ injury_obj.headline }}</strong></a></p>
          <hr>
		  <p>Have I missed an injury? Let me know what I missed and I'll do my best to update it.</p>
		  <form method="POST">
              {% csrf_token %}
              <input type="submit">
          </form>
	  </div>
	  <div class="col-md-4">
	  	<h2>Contact</h2>
            <address>
                <strong>Bagged Milk</strong><br>
                <a href="mailto:codypollardeve@gmail.com">Email</a><br>
                <a href="https://github.com/CodyPollard">GitHub</a><br>
				<a href="https://discord.gg/sgs2neA">Join our Discord</a><br>
            </address>
	  </div>
	</div>
</div>
{% endblock %}
{% block js-foot %}
<script>
    var selected_date = new Date("{{ injury_obj.last_injury.isoformat }}")
</script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script>window.onload=timerTest;</script>
{% endblock %}