/* Tablet Style */
@media (max-width: 768px) {

}

/* Mobile Style */
@media (max-width: 425px) {
    .text-compare {
        max-width: 200px;
    }
}

/* Browser Style */
img {
	max-width: 300px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  bottom: 0;
  width: 100%;
}

input[type="text"] {
    float: right;
    width: 100%;
    margin-bottom: 10px;
}

select {
    float: right;
    width: 100%;
    margin-bottom: 10px;
}

label {
  display: inline-block;
  text-align: right;
}​

select {
	width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
	color: #3D5E92;
	font-weight: bold;
}

.navbar {
	background: #3D5E92;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
}

.navbar .navbar-header > a {
	color: white;
	font-weight: bold;
}

/* Dropdown Styles */

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background: #3D5E92;
}

.navbar .navbar-nav > li > a {
    color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background: grey;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background: #3D5E92;
}

/* Paste Tool Style */
.text-compare {
        display: flex;
    }